LOG_LEVEL=info
TRANSFERS_FULFIL_RESPONSE_DISABLED=false
TRANSFERS_ENDPOINT=test_platform_url@mojaloop_url
QUOTES_ENDPOINT=test_platform_url@mojaloop_url
TRANSACTION_REQUESTS_ENDPOINT=test_platform_url@mojaloop_url
TRANSFERS_FULFILMENT=XoSz1cL0tljJSCp_VtIYmPNw-zFUgGfbUqf69AagUzY
